<div class="container">

  <div class="ui-g">
    <div class="ui-g-12">
      <h1 class="bem-vindo">Bem vindo</h1>
      <a class="logout" href="javascript:;" class="a-espaco" (click)="logout()">Logout</a>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Usuários</h1>
      <a pButton icon="fa-list-ul" label="Listar" tooltipPosition="top" routerLink="/usuarios/all"></a>
      <button pButton icon="fa-user" pTooltip="Novo" tooltipPosition="top" routerLink="/usuarios/novo" label="Cadastrar"></button>
      <h1>Cartões</h1>
      <a pButton icon="fa-list-ul" label="Listar" tooltipPosition="top" routerLink="/cartoes/all"></a>
      <button pButton icon="fa-user" pTooltip="Novo" tooltipPosition="top" routerLink="/cartoes/novo" label="Cadastrar"></button>
    </div>
  </div>    
   
</div>

